<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default Title{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@ttskch/select2-bootstrap4-theme@1.5.2/dist/select2-bootstrap4.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav class="navbar " style="background-color: #131726; min-height: 8vh;" data-bs-theme="light">
        <div class="container-fluid">
          <a class="navbar-brand" style="color:white;">Medical Voice Recorder</a>
          <div style="max-width: 50%;">
        <!-- Use <a> tags styled as buttons for navigation -->
            <a href="/dashboards" class=" navbutton btn btn-dark {% if request.path == '/dashboards' %}active{% endif %}">Dashboards</a>
            <a href="/recording" class="navbutton btn btn-dark {% if request.path == '/recording' %}active{% endif %}">Record Patient</a>
            <a href="/search" class="navbutton btn btn-dark {% if request.path == '/search' %}active{% endif %}">Search Patient</a>
          </div>
          {% if current_user.is_authenticated %}
    <form action="{{ url_for('login.logout') }}" method="post" style="display:inline;">
        <button type="submit" class="btn btn-secondary ml-2">Logout</button>
    </form>
{% endif %}
        </div>
      </nav>

    <main class="container my-5 " >
        {% block content %}
        <!-- Main content will be injected here -->
        {% endblock %}
    </main>
    <footer class="text-white text-center py-3 mt-auto" style="background-color: #131726;">
        <p>&copy; 2025 Patient Voice Tracker</p>
    </footer>
    <!-- Bootstrap JS Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>