{% extends 'base.html' %}

{% block title %}Dashboards{% endblock %}

{% block content %}

<div class="row">
    <div class="col">
        <div class="container-fluid">
            <h2>Medical Data Collection</h2>
            <ul class="nav nav-tabs mt-4" id="dataTabs" role="tablist" >
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="all-patients-tab" data-bs-toggle="tab" data-bs-target="#all-patients" type="button" role="tab" aria-controls="all-patients" aria-selected="true">All Patients</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="complete-records-tab" data-bs-toggle="tab" data-bs-target="#complete-records" type="button" role="tab" aria-controls="complete-records" aria-selected="false">Complete Records</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="incomplete-records-tab" data-bs-toggle="tab" data-bs-target="#incomplete-records" type="button" role="tab" aria-controls="incomplete-records" aria-selected="false">Incomplete Records</button>
                </li>
            </ul>
            <div class="tab-content" id="dataTabsContent">
                <div class="tab-pane fade show active" id="all-patients" role="tabpanel" aria-labelledby="all-patients-tab">
                    {% for patient in patients %}
                        {% if loop.index0 % 3 == 0 %}
                            <div class="row mt-3">
                        {% endif %}
                
                        <div class="col-md-4">
                            {% set records = recordings_by_patient.get(patient.id, []) %}
                            <div class="card border-light mt-3" style="box-shadow: 1px 1px 1px lightgray;">
                                <div class="card-header border-light">
                                    <h4>Patient ID {{ patient.id }}</h4>
                                    <div class="text-muted">{{ records | length }} recording</div>


                                </div>
                                <div class="card-body" style="max-height: 300px; overflow-y: auto;">
                                    
                                    
                                    <table class="table table-sm text-center equal-cols">
                                        <thead>
                                            <tr>
                                                <th>Type</th>
                                                <th>Day</th>
                                                <th>Weight</th>
                                                <th>Systolic</th>              
                                                <th>Diastolic</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for record in records %}
                                                <tr>
                                                    <td>{{ record.recording_type|capitalize }}</td>
                                                    <td>{{ record.hospitalization_day }}</td>
                                                    <td>{{ record.weight }}</td>
                                                    <td>{{ record.systolic }}</td>
                                                    <td>{{ record.diastolic }}</td>
                                                    
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <div class="text-center mt-3">
                                        <a href="/recording?patient_id={{ patient.id }}" class="btn btn-dark">
                                            Add Recording
                                        </a>
                                    </div>

                                  

                                    
                                    

                                </div>
                            </div>
                        </div>
                
                        {% if loop.index0 % 3 == 2 or loop.last %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <!-- Complete Records Tab -->
                <div class="tab-pane fade" id="complete-records" role="tabpanel" aria-labelledby="complete-records-tab">
                    {% for patient in patients %}
                        {% set records = complete_records_by_patient.get(patient.id, []) %}
                        {% if records %}
                            <div class="card border-light mt-3" style="box-shadow: 1px 1px 1px lightgray;">
                                <div class="card-header border-light">
                                    <h4>Patient ID {{ patient.id }}</h4>
                                    <div class="text-muted">{{ records | length }} complete recording(s)</div>
                                </div>
                                <div class="card-body" style="max-height: 300px; overflow-y: auto;">
                                    <table class="table table-sm text-center equal-cols">
                                        <thead>
                                            <tr>
                                                <th>Type</th>
                                                <th>Day</th>
                                                <th>Weight</th>
                                                <th>Systolic</th>              
                                                <th>Diastolic</th>
                                                <th>Breathing Difficulty</th>
                                                <th>Chest pain</th>
                                                <th>Fatigue level</th>
                                                <th>Sleep quality</th>                                               
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for record in records %}
                                                <tr>
                                                    <td>{{ record.recording_type|capitalize }}</td>
                                                    <td>{{ record.hospitalization_day }}</td>
                                                    <td>{{ record.weight }}</td>
                                                    <td>{{ record.systolic }}</td>
                                                    <td>{{ record.diastolic }}</td>
                                                    <td>{{ record.breathing_difficulty }}</td>
                                                    <td>{{ record.chest_pain }}</td>
                                                    <td>{{ record.fatigue_level }}</td>
                                                    <td>{{ record.sleep_quality }}</td>
                                                    
                                                  
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <!-- Incomplete Records Tab -->
                <div class="tab-pane fade" id="incomplete-records" role="tabpanel" aria-labelledby="incomplete-records-tab">
                    {% for patient in patients %}
                        {% set records = incomplete_records_by_patient.get(patient.id, []) %}
                        {% if records %}
                            <div class="card border-light mt-3" style="box-shadow: 1px 1px 1px lightgray;">
                                <div class="card-header border-light">
                                    <h4>Patient ID {{ patient.id }}</h4>
                                    <div class="text-muted">{{ records | length }} incomplete recording(s)</div>
                                </div>
                                <div class="card-body" style="max-height: 300px; overflow-y: auto;">
                                    <table class="table table-sm text-center equal-cols">
                                        <thead>
                                            <tr>
                                                <th>Type</th>
                                                <th>Day</th>
                                                <th>Weight</th>
                                                <th>Systolic</th>              
                                                <th>Diastolic</th>
                                                <th>Breathing Difficulty</th>
                                                <th>Chest pain</th>
                                                <th>Fatigue level</th>
                                                <th>Sleep quality</th>  

                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for record in records %}
                                                <tr>
                                                    <td>{{ record.recording_type|capitalize }}</td>
                                                    <td>{{ record.hospitalization_day }}</td>
                                                    <td>{{ record.weight }}</td>
                                                    <td>{{ record.systolic }}</td>
                                                    <td>{{ record.diastolic }}</td>
                                                    <td>{{ record.breathing_difficulty }}</td>
                                                    <td>{{ record.chest_pain }}</td>
                                                    <td>{{ record.fatigue_level }}</td>
                                                    <td>{{ record.sleep_quality }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}